.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 900px;
    align-items: center;
    display: flex;
    background-color: slateblue;
}

.box {
    display: flex;
    flex-direction: column;

}